html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif; 
    color: white;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 2rem;
}
h1,h2,h3,h4 {
  font-weight: 600;
}
h1 {
  font-size: 4.5rem;
}
.title {
  font-size: 4rem;
  max-width: 760px ;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  text-align: center;
  line-height: 7rem;
  color: var(--text-color);
  margin-bottom: 10rem;
  @media screen and (max-width:650px) {
      font-size: 3.5rem;
  }
  span {
      color: var(--secondary-color);
  }
}